:root{
    --soft-vert : #a5b89c;
    --contrast-vert : #343d3a;
    --soft-vert-shadow:#a5b89cbb;

    --rouge : #d44a4a;
    --soft-rouge : #d4999a;

    --bleu : #728C9F;
    --bleu-overlay : #3b8ce92f;

    --brun : #d4994a;
    --contrast-brun : #b1742f;
    --brun-shadow : #d89f9179;

    --metal : #aba89f;
    --contrast-metal : #73746d;
    --metal-shadow : #aba89f79;


    --gris : #4A4A4A;
    --gris-opacity : #4a4a4a15;
    --light-gris : #7a7a7a;
    --noir : #040506;
    --noir-shadow:#04050685;
    --noir-petit : #13131450;

    --text-color-sub : #040506;
    --text-color : #ffffff;
    --bg-color : #ffffff;
    --white-opacity : #ffffff67;
    --blanc-casse : #f6f1d5;

    --moon-color : #F6F1D5;
    --moon-color-hover : #f3f1e2;
    --sun-color : #fdb813;

    --transition : 0.2s cubic-bezier(0.4, 0, 0.2, 1);   

    --toolbox--height : 270px;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.load_div{
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: var(--noir);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all var(--transition);
}
.loader {
    width: 45px;
    height: 40px;
    background: linear-gradient(#0000 calc(1*100%/6),#fff 0 calc(3*100%/6),#0000 0),
              linear-gradient(#0000 calc(2*100%/6),#fff 0 calc(4*100%/6),#0000 0),
              linear-gradient(#0000 calc(3*100%/6),#fff 0 calc(5*100%/6),#0000 0);
    background-size: 10px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
  }
  
  @keyframes matrix {
    0% {
      background-position: 0% 100%, 50% 100%, 100% 100%
    }
  
    100% {
      background-position: 0% 0%, 50% 0%, 100% 0%
    }
  }
      