*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

header{
    color: var(--text-color);
    margin-top: 10px;
    height: 70px;
    width: 95%;
    border-radius: 35px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
    
    /* overflow: hidden; */
    
    user-select: none;

    z-index: 99;

    box-shadow: 5px 5px 10px -0px var(--blue-shadow);
    
    background-color: var(--white);

}

.div_center_header{
    width: 50%;
    height: 100%;

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;    
    color: var(--text-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-left: 25px;
}
.div_center_header img{
    width: 25px;
    height: 25px;
}

.div_header_r{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;    
    justify-content: flex-end;
    align-items: center;

    gap: 10px;
}
.div_home_bnt{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.div_home_bnt a{
    color: var(--text-color);
    text-decoration: none;
    
    
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;    
    font-size: 1.5em;
    

    background-color:var(--green-soft);
    padding: 5px 10px;
    border-radius: 10px;


    transition: all 0.2s var(--transition);
}
.div_home_bnt :hover{
    background-color: var(--green-middle-soft);
}

.div_compte_header{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.div_compte_header a{
    color: var(--text-color);
    text-decoration: none;
    
    
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;    
    font-size: 0.8em;
    

    padding: 5px 10px;
    border-radius: 10px;
}

.div_profil_name{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;    
    font-size: 0.8em;

    padding: 5px 10px;
    cursor: pointer;

    position: relative;
}


@media screen and (max-width:850px){
    body{
        overflow: hidden;
    }
    header{
        width: 90%;
        border-radius: 0 35px 35px 0;
        justify-content: center;

        transform: translateX(-5%);
    }
    header div{
        width: 100%;
        justify-content: center;
    }
    header div a{
        font-size: 1.2em;
    }
    .div_acces_header,.div_compte_header,.div_header_r{
        display: none;
    }
    .div_center_header h1{
        font-size: clamp(2em, 8vw, 3em);
    }
    .div_param_acc_tel{
        position: absolute;

        left: 0;
        top: 10px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 50px;
        height: 50px;

        cursor: pointer;
        transition: all 0.2s var(--transition);
    }
    .ligne{
        width: 2px;
        height: 50%;
        background-color: var(--text-color);
        padding: 0px;
    }
    .div_param_acc_tel:active{
        transform: rotate(90deg);
        
        .ligne{
            background-color: var(--violet);
        }
    }
    .div_titre_welcome{
        width: 80%;
    }
}


.div_stt_profil{
    width: 150px;
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    
    transform: translateY(100%) translateX(-35px);

    box-shadow: 5px 10px 10px -0px var(--blue-shadow);

    padding: 15px;
    border-radius: 0 0 15px 15px;
}
.div_profil,.div_settings,.div_logout{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;

    padding: 5px 10px;

    cursor: pointer;

    transition: all 0.2s var(--transition);
}

.div_profil:hover,.div_settings:hover,.div_logout:hover{
    background-color: var(--green-soft);
    border-radius: 10px;
}